In [3]:
import pandas as pd
def encrypt(pt,key):
  cols=[]
  for i in range(len(pt)):
    cols.append(i)
  df=pd.DataFrame(columns=cols)
  for col in cols:
    df[col]=["" for i in range(key)]
  col=0
  row=0
  bottom=0
  for i in pt:
    if(row==0 and col!=0):
      row=row+1
      bottom=0
    if(row<key and bottom==0):
      df[col][row]=i
      row=row+1
    elif(row==key):
      bottom=1
      row=row-2
      df[col][row]=i
    else:
      row=row-1
      df[col][row]=i
    col=col+1
  ct=""
  for i in range(key):
    for j in cols:
      ct=ct+df[j][i]
  ct=ct.replace(" ","")
  return df,ct

df,ct=encrypt("RailFence1",5)
df

   0  1  2  3  4  5  6  7  8  9
0  R                       e
1     a                 c     1
2        i           n
3           l     e
4              F